.movie-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  width: 454px;
  height: 281px;
  margin-top: 35px;
  background: #ffffff;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;

  color: #000000;

  @media (max-device-width: 528px) {
    width: 387px;
    height: 245px;
  }

  .movie-card_picture {
    width: 183px;

    img {
      width: 100%;
      height: 100%;
    }

    @media (max-device-width: 528px) {
      width: 60px;
      height: 91px;
      margin-top: 6px;
      margin-left: 10px;
    }
  }

  .movie-card_info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 270px;
    // width: 60%;
    margin-left: 20px;
    margin-top: 12px;

    position: relative;

    @media (max-device-width: 528px) {
      max-width: 304px;
      margin-left: 10px;
      margin-top: 4px;
    }

    .movie-card_header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 7px;

      .mivie-card_title {
        font-size: 20px;
        line-height: 28px;
        max-width: 185px;

        @media (max-device-width: 528px) {
          max-width: 260px;
        }
      }

      .movie-card_vote {
        min-width: 30px;
        min-height: 30px;

        max-width: 30px;
        max-height: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #e9d100;
        border-radius: 100%;
        font-size: 12px;
        margin-right: 7px;
      }

      .color_E90000 {
        border-color: #e90000;
      }

      .color_E97E00 {
        border-color: #e97e00;
      }

      .color_E9D100 {
        border-color: #e9d100;
      }

      .color_66E900 {
        border-color: #66e900;
      }
    }

    .mivie-card_release_date {
      display: flex;
      align-items: center;
      color: #827e7e;
      font-size: 12px;
      margin-bottom: 7px;
    }

    .movie-card_genre {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      max-width: 280px;
      max-height: 30px;
      overflow: hidden;

      @media (max-device-width: 528px) {
        max-width: 310px;
      }

      .movie-card_genre_item {
        font-size: 12px;
        color: grey;
        border: 1px solid grey;
        border-radius: 2px;
        background-color: #fafafa;
        padding: 1px 3px;
        margin-right: 4px;
        margin-bottom: 4px;
      }
    }

    .movie-card_overview {
      @media (max-device-width: 528px) {
        position: relative;
        left: -70px;
        top: 1px;
        width: 370px;
      }

      .movie-card_overview_text {
        font-size: 12px;
        margin: 7px 20px 10px 0px;
        line-height: 22px;
      }
    }

    .movie-card_rate-stars {
      position: absolute;
      font-size: 14px;
      padding: 7px 0;
      bottom: 2px;
      @media (max-device-width: 528px) {
        right: 10px;
        margin-right: 0px;
      }
    }
  }
}
