.input {
  width: 100%;
  height: 40px;
  padding: 9px 12px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}

/* @media (max-width: 528px) { 
  .input {
    height: 80px;
    width: 64px;
    color: red;
    border-radius: 100%;
      border: 1px solid red;
  }

  .header {
  background-color: blue;
  }
} */
